body {
  background-color: #eeeeee;
}
#elements {
  background: #ffffff;
  width: 500px;
  padding: 10px;
  text-align: center;
  border: 1px solid #cccccc;
  margin: 30px auto;
}
#mondai {
  font-size: 25px;
}
#question {
  font-size: 30px;
  background-color: rgb(210, 232, 144);
}
#answer {
  font-size: 20px;
  border-spacing: 50px 0px;
}
#header {
  font-weight: normal;
}
#your-answer {
  background-color: khaki;
}
#result {
  margin-top: 20px;
  font-size: 15px;
  border-spacing: 50px 0px;
}

#keyboard td {
  --normal-size: 20px;
  border: 1px solid black;
  width: var(--normal-size);
  height: var(--normal-size);
  text-align: center;
  font-size: 8px;
}
