body {
  margin: auto;
}
#result-elements {
  margin: auto;
}
.yourResults {
  font-size: 20px;
  /* background: scroll; */
  /* background-color: rgb(100, 149, 65); */
  border: 1px solid #cccccc;
  width: 500px;
  height: 450px;
  /* margin: auto; */
  text-align: center;
}
.yourResults .rowh {
  height: 50px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yourResults .roww {
  font-size: 26px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yourResults .roww2 {
  height: 80px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.rankBoard {
  background: #ffffff;
  width: 500px;
  height: 450px;
  overflow: auto;
  border: 1px solid #cccccc;
}
.table td,
.table th {
  text-align: center;
}
.listgroup {
  width: 500px !important;
}
.accordion {
  width: 1017px;
  margin: auto;
}
