body {
  background-color: #eeeeee;
}
#elements {
  background: #ffffff;
  width: 95vw;
  padding: 1vw;
  text-align: center;
  border: 0.2vw solid #cccccc;
  margin: 1vw auto;
  display: flex;
}
#mondai {
  font-size: 25px;
  margin: 1vw auto;
}
#question {
  width: 70vw;
  font-size: 30px;
  background-color: rgb(210, 232, 144);
  margin: 1vw auto;
}
#answer {
  font-size: 20px;
  border-spacing: 5vw 1vw;
}
#answer #header {
  font-weight: normal;
}
#answer #your-answer {
  background-color: khaki;
}
#result {
  font-size: 15px;
  border-spacing: 4vw 0vw;
}
thead th {
  font-size: 20px;
}
#result th {
  font-weight: normal;
  text-align: right;
}
#result td {
  text-align: right;
  width: 3vw;
}
