body {
  background-color: #eeeeee;
  padding: 2vw;
}
#elements {
  background: #ffffff;
  width: 95vw;
  padding: 1vw;
  text-align: center;
  border: 0.2vw solid #cccccc;
  margin: 1vw auto;
  display: flex;
  position: relative;
}
#mondai {
  font-size: 25px;
  margin: 1vw auto;
}
#question {
  width: 70vw;
  font-size: 30px;
  background-color: #649541;
  margin: 1vw auto;
}
#answer {
  font-size: 20px;
  border-spacing: 1vw 1vw;
}
#answer #header {
  font-weight: normal;
}
#answer #your-answer {
  width: 58vw;
  background-color: #f7e056;
}
#result {
  font-size: 15px;
  border-spacing: 4vw 0vw;
}
thead th {
  font-size: 20px;
}
#result th {
  font-weight: normal;
  text-align: right;
}
#result td {
  text-align: right;
  width: 3vw;
}
#content {
  display: none;
}
footer {
  font-size: 13px;
  padding: 2vw;
}
