<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Typing Game</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="elements">
      <p id="result">結果</p>
      <table id="ranking">
        <% for (let listItem of listItems) {%>
        <tr><th><%= listItem.record_id %></th><th><%= listItem.username %></th><th><%= listItem.score %></th></tr>
        <!-- <tr>
          <th id="rank_order">a</th>
          <td id="username">b</td>
          <td id="score">c</td>
        </tr> -->
        <% } %>
      </table>
      <a href="/">戻る</a>
    </div>
    <!-- <script src="./script.js"></script> -->
  </body>
</html>
