/*--- 全ページ共通のスタイル ---*/

/*----------------------------------------------------------------
	CSS変数代入について
	:rootで変数を定義
	変数名の前に"--"は必須
	var(--変数名)で使える
----------------------------------------------------------------*/
:root {
  --Gray: #cccccc;
  --LightGray: #eeeeee;
  --Black: #000000;
  --White: #ffffff;
}

html {
  /* text */
  color: var(--Black);
}

body {
  background-color: var(--LightGray) !important;
  padding: 2vw;
}

footer {
  font-size: 13px;
  padding: 2vw;
}

.backbutton {
  width: 10vw;
  margin: 0 0 1em;
}
