/* 白枠内 */
.questionDisplay {
  /* layout */
  margin: 1vw 0;
  padding: 1vw;

  /* box */
  height: 4em;
  background: var(--White);
  border: 0.2vw solid var(--Gray);
  border-radius: 5px;

  /* text */
  text-align: center;
  font-size: 30px;
}
.questionText {
  color: rgb(208, 205, 214);
  margin: 0;
}
.spellingText {
  color: rgb(50, 50, 50);
}
.questionText {
  color: rgb(50, 50, 50);
  padding-bottom: 5px;
}
.spinner {
  width: 3vw;
  height: 3vw;
}
.caretstyle {
  color: rgb(50, 50, 50);
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
