#userinput {
  width: 40vw;
  margin: auto;
}
#header {
  font-size: 30px;
  padding: 2vw;
  margin: auto;
}
.accordion-button {
  background-color: #dddddd !important;
  color: black !important;
}
.accordion {
  width: 40vw;
}
#play-button {
  width: 40vw;
}
#how-to-play {
  width: 40vw;
  margin: auto;
}
/* 矢印も白にしたい */
