body {
  background-color: #eeeeee;
  padding: 2vw;
}
#userinput {
  width: 40vw;
  margin: auto;
}
#header {
  font-size: 30px;
  padding: 2vw;
  margin: auto;
}
footer {
  font-size: 13px;
  padding: 2vw;
}
.accordion-button {
  background-color: rgb(50, 50, 50) !important;
  color: white !important;
}
.accordion {
  width: 40vw;
}
#play-button {
  width: 40vw;
}
#how-to-play {
  width: 40vw;
  margin: auto;
}
/* 矢印も白にしたい */
