.elements {
  width: 40vw;
  margin: auto;
}

.accordion-button {
  background-color: var(--Gray) !important;
  color: var(--Black) !important;
}

#play-button {
  width: 40vw;
}

#how-to-play {
  margin: 1em 0;
}
