body {
  background-color: #eeeeee;
  padding: 2vw;
}
#elements {
  background: #ffffff;
  border: 0.2vw solid #cccccc;
  width: 95vw;
  height: 15vh;
  border-radius: 5px;
  padding: 1vw;
  text-align: center;
  margin: 1vw auto;
}
#answered {
  font-size: 30px;
  color: rgb(208, 205, 214);
}
#question {
  width: 70vw;
  font-size: 30px;
  margin: 1vw auto;
}
#answer {
  font-size: 20px;
  border-spacing: 1vw 1vw;
}
thead th {
  font-size: 20px;
}
#current {
  font-size: 20px;
  border-spacing: 4vw 0vw;
  width: 20vw;
}
#current th {
  font-weight: bolder;
  text-align: right;
}
#current td {
  text-align: right;
  width: 5vw;
}
#content {
  display: none;
}
#score-related {
  justify-content: space-between;
}
#score-related #progress {
  margin: 0 0 0 auto;
  padding: 1vw;
}
#score-related #progress #progress-number {
  font-size: 20px;
  text-align: right;
  height: 80px;
}
#score-related #progress #progress-bar {
  margin: 0 0 0 auto;
  width: 20vw;
}
#scoreTitle {
  font-size: 2vw;
}
#score {
  /* font-size: 3vw; */
  /* color: rgb(68, 5, 102); */
  margin: 0 0 0 auto;
}
#rawcode {
  overflow: auto;
  border: 1px solid #cccccc;
  width: 30vw;
  height: 15vw;
  tab-size: 2;
}
#preview-box {
  overflow: auto;
  border: 1px solid #cccccc;
  width: 30vw;
  height: 15vw;
}
footer {
  font-size: 13px;
  padding: 2vw;
}
