body {
  background-color: #eeeeee;
  padding: 2vw;
}
#elements {
  background: #ffffff;
  border: 0.2vw solid #cccccc;
  width: 95vw;
  height: 15vh;
  border-radius: 5px;
  padding: 1vw;
  text-align: center;
  margin: 2vw auto;
  /* display: flex; */
  /* position: relative; */
}
#mondai {
  font-size: 25px;
  margin: 1vw auto;
}
#answered {
  font-size: 30px;
  color: rgb(208, 205, 214);
}
#question {
  width: 70vw;
  font-size: 30px;
  /* background-color: #649541; */
  margin: 1vw auto;
}
#answer {
  font-size: 20px;
  border-spacing: 1vw 1vw;
}
#your-answer {
  font-size: 15px;
  /* 動いてなくない?? */
}
thead th {
  font-size: 20px;
}
#current {
  font-size: 15px;
  border-spacing: 4vw 0vw;
}
#current th {
  font-weight: bolder;
  text-align: right;
}
#current td {
  text-align: center;
  width: 3vw;
}
#content {
  display: none;
}
#score-related {
  display: flex;
  justify-content: space-between;
}
#progress {
  font-size: 15px;
  text-align: right;
}
#scoreTitle {
  font-size: 2vw;
}
#score {
  font-size: 3vw;
  color: rgb(68, 5, 102);
}
footer {
  font-size: 13px;
  padding: 2vw;
}
