/* 画面上部の統計情報 */
.stat-section {
  /* layout */
  margin: 0 0 1em 0; /* 下だけ */
}
/* 左の表 */
.stat-table {
  /* text */
  font-size: 20px;
}
.stat-table th {
  /* text */
  text-align: right;
  font-weight: bolder;
}
.stat-table td {
  /* box */
  width: 4em;

  /* text */
  text-align: right; /* デフォルトだとleftなので必須 */
}

.stat-progress {
  /* layout */
  margin: 0 0 0 auto; /* 右寄せ */
}
.progress-number {
  /* layout */
  margin: 1em 0;

  /* text */
  font-size: 30px;
  text-align: right;
}
.progress-bar {
  /* layout */
  margin: 0 auto 0 0; /* 左寄せ */

  /* box */
  width: 20vw;
  border: 0.1em solid var(--Gray);
  border-radius: 5px;
}

/* 白枠内 */
.question-box {
  /* layout */
  margin: 1vw 0;
  padding: 1vw;

  /* box */
  height: 4em;
  background: var(--White);
  border: 0.2vw solid var(--Gray);
  border-radius: 5px;

  /* text */
  text-align: center;
  font-size: 30px;
}
.answered-text {
  /* text */
  color: rgb(208, 205, 214);
}
.spinner {
  width: 3vw;
  height: 3vw;
}

/* キーボード関連 */
#content {
  display: none;
}
