name: CI

on:
  push:
    branches: [main, master]
  pull_request:

jobs:
  eslint:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Build Docker Images
        run: docker compose build
        shell: bash

      - name: Start Docker Compose
        run: docker compose up -d
        shell: bash

      - name: Run ESLint
        run: docker compose exec devtools npx eslint --max-warnings 0 .
        shell: bash

  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Build Docker Images
        run: docker compose build
        shell: bash

      - name: Start Docker Compose
        run: docker compose up -d
        shell: bash

      - name: Run Prettier
        run: docker compose exec devtools npx prettier --check .
        shell: bash

  type-check:
    name: Type Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Build Docker Images
        run: docker compose build
        shell: bash

      - name: Start Docker Compose
        run: docker compose up -d
        shell: bash

      - name: Type Check
        run: docker compose exec devtools npm run type-check
        shell: bash

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Build Docker Images
        run: docker compose build
        shell: bash

      - name: Start Docker Compose
        run: docker compose up -d
        shell: bash

      - name: Build
        run: docker compose exec devtools bash -c "cd backend && npx prisma generate && cd .. && npm run build"
        shell: bash
